* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: url("./img/background.png");
    background-size: cover; /* Ajusta a imagem para preencher o fundo */
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Para evitar cortes em dispositivos pequenos */
}

.container {
    background-color: #d1d1d1;
    width: 100%; /* Para telas pequenas */
    max-width: 500px; /* Limita em telas maiores */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-task {
    border: none;
    border-radius: 5px;
    width: calc(100% - 130px); /* Espaço ajustado para o botão */
    height: 40px;
    padding-left: 10px;
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #ffffff;
    font-size: 17px;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task {
    background-color: #F2F2F2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        margin: 50px auto; /* Ajusta o espaçamento superior */
        padding: 15px;
    }

    .input-task {
        width: calc(100% - 110px); /* Ajuste para dispositivos menores */
    }

    .button-add-task {
        font-size: 15px;
        height: 38px;
        padding: 0 10px;
    }

    .task {
        font-size: 14px; /* Texto menor para tarefas */
    }
}

@media (max-width: 480px) {
    .container {
        margin: 20px auto;
    }

    .input-task {
        width: calc(100% - 100px);
    }

    .button-add-task {
        font-size: 14px;
        height: 36px;
        padding: 0 8px;
    }

    .task {
        font-size: 12px;
    }
}
